.nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
    }
.nav_list li {
    margin: 0% 10% 0% 10%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

img {
  width: 225px; 

}

.animal {
    
    flex-basis: 5%;
    width: 50%;
    margin: 5px;
}

