.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

img {
  width: 100px; 
  /* margin: 8px;  */
  /* display: flex; */
  /* flex-basis: 20%; */

}

.animal {
    
    flex-basis: 10%;
    width: 50%;
    margin: 5px;
}

